.board {
    border: 5px dashed gray;
    padding: 20px;
    height: 300px;
    width: 480px;
    position: relative;
}

.playerHolder {
    display: grid;
    grid-gap: 5px;
    height: inherit;
    width: inherit;
    position: absolute;
}

.spikesHolder {
    display: grid;
    grid-gap: 5px;
    height: 100%;
    width: 100%;
}

.player {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(~src/assets/ninja.svg);
    background-repeat: no-repeat;
}

.spike {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(~src/assets/arrow.svg);
}