.board {
    display: grid;
    grid-gap: 5px;
    border: 5px dashed gray;
    padding: 20px;
}

.player {
    border: 1px solid darkred;
    height: 15px;
    width: 15px;
    position: relative;
}

.playerStyle-default {
    background-color: coral;
}