<div class="container">
  <div class="inner">

    <div class="boardHolder">
      <div class="boardInner">
        <div class="board" *ngIf="game.gameRun">
          <div class="playerHolder"
               [ngStyle]="{
            'grid-template-rows': 'repeat('+board.lines+', 1fr)',
            'grid-template-columns': 'repeat(1, '+board.cols+'fr)'
          }">
            <div
              class="player"
              [ngClass]="'playerStyle-'+playerStyle"
              [ngStyle]="{'grid-row': player.getLine()}">
            </div>
          </div>

          <div
            class="spikesHolder"
            [ngStyle]="{
            'grid-template-rows': 'repeat('+board.lines+', 1fr)',
            'grid-template-columns': 'repeat('+board.cols+', 1fr)'
          }">
            <div
              class="spike"
              [ngStyle]="{
              'grid-row': spike.line,
              'grid-column': spike.column
            }"
              *ngFor="let spike of game.spikes"></div>
          </div>
        </div>
      </div>
      <div class="startGame" *ngIf="!game.gameRun">
        <button class="btn btn-success" [disabled]="game.gameRun" (click)="game.start(difficult)">start</button>

        <select [(ngModel)]="difficult">
          <option *ngFor="let option of board.presets" [value]="option.name">{{option.name}}</option>
        </select>
      </div>

      <div class="score" *ngIf="game.score">
        <b>Score:</b> {{game.score.get()}}
      </div>
    </div>

  </div>
</div>

